MINICPM_HOME=/home/USUARIO/minicpm
MINICPM_GUI_PORT=8090
MINICPM_5B_PORT=8080
MINICPM_8B_PORT=8081
MINICPM_EMBED_PORT=8002
MINICPM_RERANK_PORT=8003
MINICPM_CTX=4096
MINICPM_NGL_8B=99
MINICPM_NGL_5B=0
MINICPM_TEMP=0.7
MINICPM_TOP_P=0.95
MINICPM_THINK_TEMP=0.9
MINICPM_EMBED_DIR=/home/USUARIO/minicpm/models/embed
MINICPM_RERANK_DIR=/home/USUARIO/minicpm/models/rerank
MINICPM_API_KEY=
